<!-- Devise初期設定時に設定 ST -->
<div class="devise_notice_alert">
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>
</div>
<!-- Devise初期設定時に設定 ED -->