<div class="row">
  <% objects.each do |object| %>
    <div class="col-lg-4 col-md-6 card-index">
      <div class="card PhotoBox">
        <%= link_to image_tag(object.image.to_s, class: 'weather_image_index', alt: 'Weather image'), object %>
        <div class="SlideBox">
          <p><%= set_address(object.prefecture.name, object.city.name) %></p>
          <p><%= object.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    $(".PhotoBox").hover(function(){
      $(".SlideBox",this).stop().animate({bottom:"0px"},"fast");
    },function(){
      $(".SlideBox",this).stop().animate({bottom:"-70px"},"slow");
    });
  })
</script>