<div class="loadmore-btn-wrapper p-0 d-flex">
  <button class="loadmore-btn btn active mx-auto">さらに表示</button>
</div>
<div class="page-load-status" style="display: none;">
  <div class="infinite-scroll-request">
    <div class="loader-ellips">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
  </div>
</div>