<% provide :title, '新着投稿' %>

<div class="container pt-4">
  <%= render 'index_nav' %>
  <%= render 'index_date_range', transition_path: posts_path %>
  <%= render 'index_posts', posts: @posts %>
</div>