<% provide :title, '人気投稿' %>

<div class="container pt-4">
  <%# <h2 class="text-center font-weight-bold mt-4 mb-3">みんなの天気</h2> %>
  <%= render 'index_nav' %>

  <%= render 'index_posts', posts: @popular_posts %>
</div>