<% provide :title, set_address(@post.prefecture.name, @post.city.name) %>

<% if flash[:success] %>
  <div class="alert alert-primary"><%= flash[:success] %></div>
<% end %>

<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto posts__linkBox">
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-6">
      <%= render @post %>
    </div>
    <div class="col-md-6">
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment } %>
      <% end %>
      <% if @post.comments.any? %>
        <div class="p-comment__list">
          <div class="p-comment_listTitle">コメント</div>
          <%= render @post.comments %>
        </div>
      <% end %>
    </div>
  </div>
</div>