<% provide :title, @post.title %>

<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto posts__linkBox">
  </div>
</div>

<% if flash[:success] %>
  <div class="alert alert-primary"><%= flash[:success] %></div>
<% end %>

<%= render @post %>

<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <!--  render @post.comments -->
</div>
