<% provide :title, set_address(@post.prefecture.name, @post.city.name) %>

<%= render "shared/success_messages" %>

<div class="container pt-4 pb-3">
  <div class="row">
    <div class="col-md-6">
      <%= render @post %>
    </div>
    <div class="col-md-6">
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment } %>
      <% end %>
      <div class="p-comment__list">
        <div class="p-comment__listTitle">コメント</div>
        <% if @post.comments.any? %>
          <%= render @post.comments.includes(:user) %>
        <% else %>
          <div class="p-comment__nonitem">まだコメントがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>