/* body */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* header */
.navbar {
  border-radius: 0px;
}
.navbar-logo {
  width: 25px;
}
.navbar-brand::before {
  content: "\00a0";
}

/* main */
main {
  flex: 1;
}

/* footer */
footer {
  background: #343a40;
  color: #fff;
  text-align: center;
  p {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin-bottom: 0;
  }
}

/* UserForm */
.devise_notice_alert {
  // text-align: left;
  padding-top: 30px;
}

.user_form {
  max-width: 440px;
}

.form_title {
  margin-bottom: 15px;
}

.user_form_btn {
  margin-bottom: 10px;
}

/* PostForm */
.post_form {
  margin-top: 15px;
}



/* その他 */
.hidden {
  display: none;
}

// .btn-unlike {
//   color: #343a40;
//   border: 1px solid #343a40;
//   border-radius: 50rem;
//   &:hover {
//     color: #fff;
//     background-color: #343a40;
//   }
// }
.btn-cantlike {
  cursor: default;
  color: #f90e43;
  border: 1px solid #f90e43;
  border-radius: 50rem;
  &:hover {
    color: #f90e43;
    background-color: #fff;
  }
}
.btn-like {
  color: #f90e43;
  border: 1px solid #f90e43;
  border-radius: 50rem;
  &:hover {
    color: #fff;
    background-color: #f90e43;
  }
}

// .page-load-status {
//   display: none; /* hidden by default */
//   padding-top: 20px;
//   border-top: 1px solid #DDD;
//   text-align: center;
//   color: #777;
// }

// div.tab-content ul.pagination {
//   display: none;
// }

.btn-follow {
  min-width: 104px;
  border-radius: 50rem;
  color: #fff;
  background-color: #f90e43;
  &:hover {
    color: #f90e43;
    background-color: #fff;
    border-color: #f90e43;
  }
}
.btn-unfollow {
  min-width: 104px;
  border-radius: 50rem;
  color: #f90e43;
  background-color: rgba(0,0,0,0.1);
  &:hover {
    color: rgba(0,0,0,0.5);
  }
}


.user-card {
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  min-height: 300px;
  .user-name {
    margin: 15px auto 10px auto;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

ul.nav-tabs li.nav-item {
  min-width: 128px;
  text-align: center;
}
.status-value {
  display: inline;
  font-weight: 600;
  font-size: 0.95rem;
}