/* body */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* header */
.navbar {
  border-radius: 0px;
}
.navbar-logo {
  width: 150px;
}
.navbar-brand::before {
  content: "\00a0";
}

/* main */
main {
  flex: 1;
}

/* footer */
footer {
  background: #343a40;
  color: #fff;
  text-align: center;
  p {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin-bottom: 0;
  }
}

/* UserForm */
.devise_notice_alert {
  padding-top: 30px;
}

.user_form {
  max-width: 440px;
}

.form_title {
  margin-bottom: 15px;
}

/* PostForm */
.post_form {
  margin-top: 15px;
}

/* いいね関連 */
.btn-cantlike {
  cursor: default;
  color: #f90e43;
  border: 1px solid #f90e43;
  border-radius: 50rem;
  &:hover {
    color: #f90e43;
    background-color: #fff;
  }
}
.btn-like {
  color: #f90e43;
  border: 1px solid #f90e43;
  border-radius: 50rem;
  &:hover {
    color: #fff;
    background-color: #f90e43;
  }
}
.btn-unlike {
  color: #f90e43;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50rem;
  &:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
  }
}

/* フォロー関連 */
.btn-follow {
  min-width: 104px;
  border-radius: 50rem;
  color: #fff;
  background-color: #f90e43;
  &:hover {
    color: #f90e43;
    background-color: #fff;
    border-color: #f90e43;
  }
}
.btn-unfollow {
  min-width: 104px;
  border-radius: 50rem;
  color: #f90e43;
  background-color: rgba(0,0,0,0.1);
  &:hover {
    color: rgba(0,0,0,0.5);
  }
}

/* 検索フォーム関連 */
.search-form {
  background-color: #ddd;
  border: solid 2px #707070;
  border-radius: 1.5rem;
  padding: 10px 20px;
}
@media (min-width: 1200px) {
  .search-form {
    max-width: 1040px;
  }
}

/* その他 */
.hidden {
  display: none;
}

.user-card {
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  min-height: 300px;
  .user-name {
    margin: 15px auto 10px auto;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.status-value {
  display: inline;
  font-weight: 600;
  font-size: 0.95rem;
}

nav.nav-pills .nav-link {
  color: #007bff;
  border-radius: 0.45rem;
}
