.p-comment__formBox {
  margin: 14px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__list {
  margin: 0 auto 30px auto;
  padding: 20px;
}

.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.p-comment__nonitem {
  padding: 40px;
  color: #999;
}

.p-comment__bottomLine {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 5px;
    > a {
      color: #777;
    }
  }
}