.post-cards {
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
}
.card-index {
  height: 360px;
  margin: 10px 0;
}

.weather_image {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.card-post {
  max-width: 600px;
}
.card-info {

  a {
    // display: block;
  }
}

.card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}